<div class="container">
  <div class="row">
    <div class="col-md-4">
      <mat-card class="user-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-subtitle class="card-title">Users</mat-card-subtitle>
            <mat-icon>account_box</mat-icon>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <h3>{{ users }}</h3>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="tour-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-subtitle class="card-title">Tours</mat-card-subtitle>
            <mat-icon>tour</mat-icon>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <h3>{{ tours }}</h3>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="tour-booking-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-subtitle class="card-title"
              >Tour Bookings</mat-card-subtitle
            >
            <mat-icon>corporate_fare</mat-icon>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <h3>50</h3>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
