<app-navbar />

<div class="container">
  <h1 class="text">Search Results</h1>
  <div class="row">
    <div *ngFor="let tour of tours | async" class="col-md-4">
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ tour.tourname }}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="./../../assets/tour images/{{ tour.image1 }}"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p class="d-flex">
            <mat-icon class="start-icon">location_city</mat-icon>
            <strong>Tour At: </strong>{{ tour.tourname }}
          </p>
          <p class="d-flex">
            <mat-icon class="start-icon">schedule</mat-icon>
            <strong>Start Date: </strong>{{ tour.start | date : "dd/MM/yyyy" }}
          </p>
          <p class="d-flex">
            <mat-icon class="start-icon">schedule</mat-icon
            ><strong>End Date:</strong> {{ tour.end | date : "dd/MM/yyyy" }}
          </p>
          <p class="d-flex">
            <mat-icon>attach_money</mat-icon> <strong>Price: </strong> ${{
              tour.price
            }}
          </p>
          <p class="d-flex">
            <mat-icon>pin_drop</mat-icon> <strong>Location: </strong
            >{{ tour.location }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            [routerLink]="['./../../detail', tour.tour_id]"
            class="button"
            mat-flat-button
          >
            Details
          </button>
        </mat-card-actions>
      </mat-card>
      <br />
    </div>
  </div>
</div>
